<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script defer src="/js/validateForms.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.5.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.5.0/mapbox-gl.css' rel='stylesheet' />
    <script defer src="/js/all.js"></script>
    <title>YelpCamp</title>
</head>

<body>
    <%- include('../partials/navbar.ejs') %>
        <div id="map" style="width: 100%;height: 500px" class="cluster-map"></div>
        <div class="search-sort-container">
            <div class="container">
                <div class="row search-sort-bar">
                    <div class="col-6 dropdown sort-group">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Sort By
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                    <div class="col-6 search-col">
                        <form class="input-group search-group">
                            <span class="input-group-text search-span" id="basic-addon1"><button
                                    class="btn btn-search"><i class="fas fa-search"></i></button></span>
                            <input type="text" class="form-control search-bar" placeholder="Search Campgrounds..."
                                aria-describedby="basic-addon1" name="search">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <main class="container my-5">
            <%- include('../partials/flash.ejs') %>
                <div class="container result-head">
                    <%= text %>
                </div>
                <div class="container container-divider">
                    <div class="row divider-head-row">
                        <div class="col-5 divider divider-left"></div>
                        <div class="col-2 div-icon"><i class="far fa-circle"></i></div>
                        <div class="col-5 divider divider-right"></div>
                    </div>
                </div>
                <div class="row camps-row">
                    <% for(let campground of campgrounds){ %>
                        <div class="col-lg-4 camp-col">
                            <div class="card camp-card">
                                <img src="<%= campground.images[0].url %>" class="card-img-top camp-img"
                                    alt="<%= campground.title %>">
                                <div class="card-body camp-card-body">
                                    <div class="row camp-info">
                                        <div class="col-9">
                                            <a href="/campgrounds/<%= campground._id %>" class="camp-title-anchor">
                                                <h5 class="card-title camp-card-title">
                                                    <%= campground.title%>
                                                </h5>
                                            </a>
                                        </div>
                                        <div class="col-3 camp-price">
                                            <h5 class="camp-price-h5">
                                                <% if(campground.price<1000){ %>
                                                    $
                                                    <% }else if(campground.price>750 && campground.price<2000){ %>
                                                            $$
                                                            <% }else{ %>
                                                                $$$
                                                                <% } %>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="row camp-rating-row">
                                        <div class="col-12 camp-rating text-secondary">
                                            <% let avg=0 %>
                                                <% for(review of campground.reviews){ %>
                                                    <% if(review){ %>
                                                        <% avg+=parseInt(review.rating)%>
                                                            <% } %>
                                                                <% } %>
                                                                    <% if(campground.reviews.length){ %>
                                                                        <span class="rating-span">
                                                                            <% for(let star=0;star
                                                                                <Math.floor(avg/campground.reviews.length)
                                                                                ;star++){ %>
                                                                                &#9733;
                                                                                <% } %>
                                                                                    <%for(let
                                                                                        star=Math.floor(avg/campground.reviews.length)
                                                                                        ;star<5;star++){ %>
                                                                                        &#9734;
                                                                                        <% } %>
                                                                        </span>
                                                                        <span class="no-rating">
                                                                            <%= campground.reviews.length %>
                                                                                <% if(campground.reviews.length===1){ %>
                                                                                    review
                                                                                    <% }else{ %>
                                                                                        reviews
                                                                                        <% } %>
                                                                        </span>
                                                                        <% }else{ %>
                                                                            <span class="card-subtitle text-muted">(No
                                                                                reviews yet)</span>
                                                                            <% } %>
                                        </div>
                                    </div>
                                    <p class="card-text camp-card-text">
                                        <% if(campground.description.length>80){ %>
                                            <%= campground.description.slice(0,80) + '...' %>
                                                <% }else{ %>
                                                    <%= campground.description %>
                                                        <%for(let i=campground.description.length;i<80;i++){%>
                                                            &nbsp;
                                                            <%}%>
                                                                <% } %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <% if(allCamps.length){ %>

                            <div class="pagination-div">
                                <ul class="pagination justify-content-center pagination-ul">
                                    <li class="page-item previous">
                                        <a class="page-link"
                                            href="/campgrounds?page=<%= parseInt(page)-1 %>&search=<%= search %>">&larr;</a>
                                    </li>
                                    <% const pagArrayFirst=[1,2] %>
                                        <% if(!pagArrayFirst.includes(parseInt(page))){ %>
                                            <li class="page-item first">
                                                <a class="page-link"
                                                    href="/campgrounds?page=1&search=<%= search %>">1</a>
                                            </li>
                                            <% if(parseInt(page)!==3){ %>
                                                <li class="page-item disabled">
                                                    <span class="page-link">...</span>
                                                </li>
                                                <% } %>
                                                    <% } %>
                                                        <% if(parseInt(page)!==1){ %>
                                                            <li class="page-item"><a class="page-link"
                                                                    href="/campgrounds?page=<%= parseInt(page)-1 %>&search=<%= search %>">
                                                                    <%= parseInt(page)-1 %>
                                                                </a>
                                                            </li>
                                                            <% } %>
                                                                <li class="page-item active"><a class="page-link"
                                                                        href="/campgrounds?page=<%= page %>&search=<%= search %>">
                                                                        <%= page %>
                                                                    </a>
                                                                </li>

                                                                <% if(parseInt(page)!==Math.ceil(allCamps.length/6)){ %>
                                                                    <li class="page-item"><a class="page-link"
                                                                            href="/campgrounds?page=<%= parseInt(page)+1 %>&search=<%= search %>">
                                                                            <%= parseInt(page)+1 %>
                                                                        </a>
                                                                    </li>
                                                                    <% } %>

                                                                        <% const
                                                                            pagArrayLast=[parseInt(Math.ceil(allCamps.length/6)),
                                                                            parseInt(Math.ceil(allCamps.length/6))-1 ]
                                                                            %>
                                                                            <% if(!pagArrayLast.includes(parseInt(page))){
                                                                                %>
                                                                                <% if(parseInt(page)!==Math.ceil(allCamps.length/6)-2
                                                                                    ){ %>
                                                                                    <li class="page-item disabled">
                                                                                        <span
                                                                                            class="page-link">...</span>
                                                                                    </li>
                                                                                    <% } %>
                                                                                        <li class="page-item last">
                                                                                            <a class="page-link"
                                                                                                href="/campgrounds?page=<%= Math.ceil(allCamps.length/6) %>&search=<%= search %>">
                                                                                                <%= Math.ceil(allCamps.length/6)
                                                                                                    %>
                                                                                            </a>
                                                                                        </li>
                                                                                        <% } %>
                                                                                            <li class="page-item next">
                                                                                                <a class="page-link"
                                                                                                    href="/campgrounds?page=<%= parseInt(page)+1 %>&search=<%= search %>">&rarr;</a>
                                                                                            </li>
                                </ul>
                            </div>
                        <% } %>
                </div>
        </main>
        <script>
            const campgrounds = { features:<%- JSON.stringify(allCamps) %> }
            const page = <%- JSON.stringify(page) %>
            const previous = document.querySelector('.previous')
            const next = document.querySelector('.next')
            if (parseInt(page) === Math.ceil(campgrounds.features.length / 6)) {
                next.classList.add('disabled')
            }
            if (parseInt(page) === 1) {
                previous.classList.add('disabled')
            }
        </script>
        <script src="/js/clusterMap.js"></script>
        <%- include('../partials/footer.ejs') %>
</body>
<link rel="stylesheet" href="/css/index-styles.css">
<script src="/js/index-script.js"></script>

</html>