<% layout('/layouts/boilerplate') %>
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row outer-row">

            <div class="row row-wrap">
                <div class="col-lg-12 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <i class="fas fa-user-circle" style="width: 150px; height: 150px;"></i>
                        <span class="font-weight-bold mt-2 user-info">
                            <%= user.username %>
                        </span>
                        <span class="text-black-50 mt-2 user-info">
                            <%= user.email %>
                        </span>
                        <span class="text-black-50 mt-2 user-info">
                            Joined YelpCamp on <br>
                            <%= user.joinDate %>
                        </span>
                        <% if(currentUser.username === user.username){ %>
                            <a href="/campgrounds" class="btn btn-info btn-large mt-2">Edit</a>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="row row-wrap">
                <div class="col-lg-12">
                    <div class="container container-divider">
                        <h2 class="container result-head">
                            <% if(campgrounds.length){ %>
                                Campgrounds submitted by <%= user.username %>
                                    <% }else{ %>
                                        No campgrounds yet
                                        <% } %>
                        </h2>
                        <div class="row divider-head-row">
                            <div class="col-5 divider divider-left"></div>
                            <div class="col-2 div-icon"><i class="far fa-circle"></i></div>
                            <div class="col-5 divider divider-right"></div>
                        </div>
                    </div>

                    <div class="row camps-row">
                        <% for(campground of campgrounds){ %>
                            <div class="col-lg-4 camp-col">
                                <div class="card camp-card">
                                    <img src="<%= campground.images[0].url %>" class="card-img-top camp-img"
                                        alt="<%= campground.title %>">
                                    <div class="card-body camp-card-body">
                                        <div class="row camp-info">
                                            <div class="col-12">
                                                <a href="/campgrounds/<%= campground._id %>" class="camp-title-anchor">
                                                    <h5 class="card-title camp-card-title text-center text-capitalize">
                                                        <%= campground.title %>
                                                    </h5>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row camp-info">
                                            <div class="col-12">
                                                <h6 class="text-secondary text-center text-capitalize">
                                                    <%= campground.location %>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    <link rel="stylesheet" href="/css/index-styles.css">
    <link rel="stylesheet" href="/css/user-styles.css">